*, 
*:before, 
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color:#15909f;
    background-image: linear-gradient(45 deg, #22b797, #15909f);
    margin: auto;
    padding: 0;
}

body {
    min-height: 100%;
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 2px;
    margin: 20px 40px 40px 40px;
    max-width: 100%;
    font-family: 'Spectral', serif;
    font-size: 14px;
    line-height: 20px;
    color: #011227;
    background-color: #fff;
    background: url("../img/WorkLife-Hero.png") 50% 0 no-repeat fixed;

}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

/* .container {
} */

footer h4, p{
    font-family: "Spectral", serif;
    font-weight: 400;
}
footer p {
    color:#15909f;
    font-size: 1em;
}
a {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #15909f;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION STYLES */
nav a {
    padding: 7px 7px 7px 7px;
    text-decoration: none;
    color: #fff;
}

nav a:active {
    color: #fff;
    opacity: 1;
}

nav a:hover {
    text-decoration: underline;
    background-color: #fff; 
    color:  #15909f;
    font-weight: 400;
    opacity:1;
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

nav {
    background:  #15909f;
    height: 85px;
    line-height: 80px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s;
    letter-spacing: 1px;

}

nav.scrollUp {
    transform: translateY(-80px);
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
.nav-container .icon {
    position: absolute;
    top: -10px;
    right: 20px;
    height: 28px;
    margin: 0;
    padding: 16px;
    font-size: 25px;
    display: none;
}


footer {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #15909f;
    font-family: 'Spectral', serif;
    font-weight: 200i;
    text-align: center;
    padding: 50px 50px 50px 50px;
    height: 250px;
}
.connectWithMe li {
    display: inline-block;
    padding: 8px;
}

header {
    min-height: 15vh;
    margin: 0 0 135px 0;
    text-align: center;

}

.intro  {
    margin: 200px auto;
    padding: 18px 60px 40px 60px;
    background-color: #fff;
}

h1 {
    font-size: 60px;
    line-height: 60px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    color:  #011227;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: auto;
    color: #011227;
}

/* Section styles */
#sect3, #sect4, #sect5 {
    padding: 200px 60px 60px 60px;
    background-color: #fff;
    
}

#sect1 {/* Sections for blank space */
    height: 200px;
}
#sect6 {/* Sections for blank space */
    height: 600px;
}
#sect2 {
    padding: 0px 60px 0 60px;
    background-color: #fff;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

#sect3 {
    height: auto;
    background-size: cover;
}

#sect4 {
    background-color: #fff;
    height: auto;
}

#sect5 {
    height: auto;
}


/* Parallax Styles */
.center { 
    margin: 0 auto; 
}

.content { 
    margin: 0 auto; 
    width: 960px; 
}

.clear { 
    clear: both;
}

/* Media Queries*/
@media (max-width: 825px) {
    /* body styles */
    
    body {
        margin: 10px;
    }
    h1 {
        font-size: 2rem;
        line-height: 1.5em;
        text-align: left;
        color: #011227;
        
    }
    p {
        font-size: 1.25em;
        line-height: 2em;
        margin: auto;
        color: #011227;
        text-align: left;
    }

    .intro > p{
        color: #011227;
    }
    .intro {
        max-width: 100%;
        margin: 0px;
        padding: 23px 44px 0 40px;
        background-color: #fff;   
    }
    /* navigation styles */
    nav a {
        color: #011227;
        font-weight: strong;
        font-size: 1.75em;
    }

    nav {
        height: 0;
    }
    nav.scrollUp {
        transform: translateY(-800px);
    }
    .nav-container {
        width: 100%;
        background-color: #15909f;
        box-shadow: 1px rgba(0,0,0,0.2)
    }
    .nav-container a:not(:last-child){
        display:none;
    }
    
    .nav-container a.icon {
        display: block;
        cursor: pointer;
        background-color: #44ABE4;
        height: 80px;
        border-radius: 3px;
        color:#15909f;
    }

    .nav-container a {
        text-align: left;
    }

    .nav-container.responsive a {
      float: none;
      display: block;
      text-align: center;
    }

    /* Animated Menu Icon */
    /* w3schools.com */
    .menuIcon{
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #011227;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }  
}

@media (max-width: 400px) {
    body {
        padding: 0;
        margin: 0'
    }
    header {
        text-align: left;
        width: 90vw;
    }
    .intro {
        max-width: 100%;
    }
}
