*, 
*:before, 
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color:#15909f;
    background-image: linear-gradient(45 deg, #22b797, #15909f);
    margin: auto;
    padding: 0;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 40px;
    max-width: 100%;
    font-family: 'Spectral', serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #ECF0E8;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

footer  h4{
    font-family: "Spectral", serif;
    font-weight: 400;
}

a {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #15909f;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION STYLES */
nav li a {
    padding: 7px 7px 7px 7px;
    border: 1px solid#15909f;
    border-radius: 3px;
    text-decoration: none;
}

nav li a:active {
    color: #fff;
    opacity: 1;
    border-bottom: 2px solid #fff;
    background-color:#4caf50;
}

nav a:hover {
    text-decoration: underline;
    background-color: #15909f; 
    color: #fff;
    font-weight: 400;
    opacity:1;
}

nav {
    background: #fff;
    height: 80px;
    line-height: 80px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    transition: all 0.5s;
}

nav.scrollUp {
    transform: translateY(-80px);
}

nav ul.navbar-menu {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar-menu li {
    display: inline-block;
    margin: 0 10px;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
.nav-container .icon {
    display: none;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
    color: #15909f;
    font-family: 'Spectral', serif;
    font-weight: 200i;
    text-align: center;
    padding: 50px 50px 50px 50px;
    height: 250px;
}
.connectWithMe li {
    display: inline-block;
    padding: 8px;
}

header {
    /* background: url("../img/ego-onload-v2.png") no-repeat; */
    height: 200px;
    margin-top:30px;
}

main {
    padding: 50px;
    margin: 0;
    background-color: #F1F4EE;
    max-width: 90vw;
}

h1 {
    font-size: 60px;
    line-height: 60px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #15909f;
    font-size: 17px;
}

p {
    font-size: 14px;
    line-height: inherit;
    margin: auto;
}

/* Section styles */
#sect1, #sect2 {
    width: 100%; 
}
#sect1 {
    background-image: linear-gradient(45deg, #22b797, #15909f);
    /* background:url('../img/slide1.jpg') 50% 0 no-repeat fixed; */
    margin-top: 105px;
    color: #fff;
    height: 600px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}

#sect2 {
    background-color: #fff;
    color: #333333;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 200px 0;
}

#sect3 {
    /* background: url(../img/slide3.jpg) 50% 0 no-repeat fixed; */
    color: #fff;
    height: 600px;
    padding: 170px 0 0 0;
    background-size: cover;
}

#sect4 {
    background-color: #fff;
    color: #333333;
    height: 300px;
    padding: 200px 0;
}

#sect5 {
    /* background: url(../img/slide5.jpg) 50% 0 no-repeat fixed; */
    height: 200px;
    margin: 0 auto;
    padding: 250px 0;
    color: #fff;
    background-size: cover;
}

/* Parallax Styles */
.center { 
    margin: 0 auto; 
}

.content { 
    margin: 0 auto; 
    width: 960px; 
}

.clear { 
    clear: both;
}

/* Media Queries*/
@media (max-width: 825px) {
    nav {
        height: 0;
    }
    nav ul.navbar-menu {
      display: flex;
      flex-direction: column;
    }
    nav.scrollUp {
        transform: translateY(-800px);
    }

    nav li a {
        border: none;
        font-size: 20px;
        background-color: #fff;
    }

    nav li a:hover {
        width: 100%;
        margin: 0;
        background-color: #fff;
        color: #22b797;
        border-radius: 0;
    }    
 
    .navbar-menu {
        margin: 0;
    }

    .nav-container {
        background-color: #fff;
        min-width: 300px;
        width: 100%;
        padding-left: 80px; 
    }

    .nav-container a:not(:first-child){
        display:none;
    }
    .nav-container a.icon {
        float: right;
        display: block;
    }
    .nav-container.responsive {position: relative;}
    .nav-container.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-container.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 