body {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    background-color: skyblue;
    margin: 60px auto;
    width: 20%;
    text-align: center;
}
.container {
    width: 320px;
    margin: 0;
    height: auto;
    display: grid;
    grid-template-areas: 
        "window window window window" 
        "operation operation operation operation" 
        "digits digits digits right" 
        "digits digits digits right" 
        "digits digits digits right" 
        "digits digits digits right";
    grid-template-rows: .55fr .5fr .5fr .5fr .5fr .5fr; 
    grid-template-columns: 20px; 
}

#window {
  grid-area: window;
  background-color: black;
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  border: 1px solid dimgray;
  color: white;
  text-align: right;
}

#operation {
    text-align: center;
    grid-area: operation;
    background-color: #fff;
}
#operation > button {
    background-color: #fff;
    width: 50px;
}

#digits {
    grid-area: digits;
    background-color: #eee;
}
#digits > button {
    background-color: #eee;
    padding: 10px 20px 0 20px;
    width: 60px;
    margin: 0;
}

#right, #right > button  {
    grid-area: right;
    background-color: salmon;
    border-radius: 0 0 10px 0;
    padding: 70px 20px 0 20px
}

button {
    border: none;
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
}