/**
*
* Articles section
*
**/

.articles-section{
  background: $colorGrayBackground;
  text-align: center;
  padding: $lineHeight 0 $lineHeight*2;
  a {
    color: $colorWhite;
    text-decoration: none;
    font-family: 'Poly', serif;
  }
}

footer#g-footer{
  padding: 0;
  margin-top: $lineHeight*2;
  font-style: italic;
}

.home{
  @extend .articles-section;
  background: $colorPurple;
}
.developer-section{
  @extend .articles-section;
  background: $colorBlue;
}

.animalLover-section{
  @extend .articles-section;
  background: $colorGreen;
}

.threeDMaker-section{
  @extend .articles-section;
  background: $colorPink;
}

.tinkerer-section{
  @extend .articles-section;
  background: $colorTeal;
}

.zombie-section{
  @extend .articles-section;
  background: $colorBlueDark;
}

.articles-count {
  color: $colorWhite;
  font-family: $fontHighlight;
  font-weight: 400;
}

.article-section__icon {
  top: -($lineHeight);

  @include medium {
    top: -($lineHeight + $lineHeight/2);
  }

}


@media (min-width: 800px) {
  /*Will only effect media with the width of 800px or wider*/
  .articles-section img {
    width: 25%;
    }
 }

 @media (max-width: 799px) {
  /*Will only effect media with the width of 799px or smaller*/
    .articles-section img {
      width: 30%;
    }
 }

  @media (max-width: 525px) {
  /*Will only effect media with the width of 525px or smaller*/
    .articles-section img {
      width: 60%;
    }
 }