/**
*
* Editorial Header
*
**/

.featured-section {
  background: $colorPurple;
  text-align: center;
  color: $colorWhite;
  padding-bottom: 10%;
}

.featured-section img{ 
	width: 70%;
	text-align: center;
}